<div class="container">
  <div class="head">
    <kendo-appbar position="top" themeColor="dark" positionMode="fixed">
      <kendo-appbar-section>
        <button kendoButton fillMode="flat">
          <kendo-icon name="menu"></kendo-icon>
        </button>
      </kendo-appbar-section>

      <kendo-appbar-section>
        <h1 class="title">Kendo UI for Angular</h1>
      </kendo-appbar-section>

      <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

      <kendo-appbar-section>
        <ul>
          <li><span>What's New</span></li>
          <li><span>About</span></li>
          <li><span>Contacts</span></li>
        </ul>
      </kendo-appbar-section>

      <kendo-appbar-spacer></kendo-appbar-spacer>

      <kendo-appbar-section class="actions">
        <kendo-badge-container>
          <button kendoButton fillMode="flat">
            <kendo-icon name="bell"></kendo-icon>
          </button>
          <kendo-badge shape="dot" themeColor="warning" size="small" position="inside"></kendo-badge>
        </kendo-badge-container>
        <span class="k-appbar-separator"></span>
      </kendo-appbar-section>

      <kendo-appbar-section>
        <kendo-avatar [imageSrc]="kendokaAvatar" shape="circle" width="26px" height="26px"></kendo-avatar>
      </kendo-appbar-section>
    </kendo-appbar>
    <kendo-scrollview [data]="items" [width]="width" [arrows]="true" style="border-width: 0px;height: calc(100vh);">
      <ng-template let-item="item">
        <img width="100%" src="{{ item.url }}" />
      </ng-template>
    </kendo-scrollview>
  </div>
  <div class="body">
    <!-- <div class="body_section_one" style="width: 100%; margin: 0px; height: calc(100vh)">
      <div>
        <div></div>
      </div>
    </div>
    <div class="body_section_two">
      <div></div>
    </div> -->
    <div class="body_section_three">
      <div class="grid-layout-container">
        <kendo-gridlayout [gap]="{ rows: 3, cols: 3 }" [rows]="[
            { height: 100 },
            { height: 300 },
            { height: 400 }
          ]" [cols]="[{ width: 400 }, { width: 400 }, { width: 400 }]">

          <kendo-gridlayout-item [row]="1" [col]="1" [colSpan]="2">
            <div class="k-text-inverse k-text-uppercase k-font-weight-bold" style="font-size: 50px;">
              Recommended for you
            </div>
          </kendo-gridlayout-item>
          <kendo-gridlayout-item [row]="2" [col]="1" [colSpan]="2">
            <recommended-article *ngFor="let article of recommendedArticles" [article]="article"></recommended-article>
          </kendo-gridlayout-item>
        </kendo-gridlayout>
      </div>
    </div>
  </div>
  <div class="foot">
    <div></div>
  </div>
</div>